<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Duckworth Lewis Stern Score Calculator</title>
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">DLS Calculator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
        <div class="container">
            <header class="header">
                <h1 id="title" class="text-center">Calculate DLS Scores: The Cricket's Hidden Equation!</h1>
                <hr>
                <p id="description" class="text-center">
                    Discover cricket's secret weapon. Our DLS Score Calculator simplifies complex equations, enabling accurate scoring in rain-affected matches.
                </p>
            </header>
            <!-- SECOND INNINGS INTERRUPTED FORM -->
            <div class="container1">
                <header class="header">
                    <h2>Calculate DLS Score when First Innings is Completed and Second Innings got Interrupted</h2>
                    <p id="lorem-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque in voluptas obcaecati, laboriosam quae qui hic, nemo repellendus esse, corporis cupiditate expedita necessitatibus architecto aliquid. Reprehenderit cupiditate quae optio saepe!
                    </p>
                </header>
                <div class="form-wrap">	
                    <div id="form1-container" class="form-content">
                        <div id="error-container-1"></div>
                        <form id="dls-input-form" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="second_innings_interrupted">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_second_innings_interrupted_form.overs_available_to_team_one_when_second_innings_interrupted.label_tag }}
                                        {{ dls_second_innings_interrupted_form.overs_available_to_team_one_when_second_innings_interrupted }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_second_innings_interrupted_form.runs_scored_by_team_one_when_second_innings_interrupted.label_tag }}
                                        {{ dls_second_innings_interrupted_form.runs_scored_by_team_one_when_second_innings_interrupted }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        {{ dls_second_innings_interrupted_form.overs_available_to_team_two_at_start_when_second_innings_interrupted.label_tag }}
                                        {{ dls_second_innings_interrupted_form.overs_available_to_team_two_at_start_when_second_innings_interrupted }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_second_innings_interrupted_form.overs_used_by_team_two_until_interruption_when_second_innings_interrupted.label_tag }}
                                        {{ dls_second_innings_interrupted_form.overs_used_by_team_two_until_interruption_when_second_innings_interrupted }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_second_innings_interrupted_form.wickets_lost_by_team_two_when_second_innings_interrupted.label_tag }}
                                        {{ dls_second_innings_interrupted_form.wickets_lost_by_team_two_when_second_innings_interrupted }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        {{ dls_second_innings_interrupted_form.maximum_overs_allotted_to_team_two_after_resumption_when_second_innings_interrupted.label_tag }}
                                        {{ dls_second_innings_interrupted_form.maximum_overs_allotted_to_team_two_after_resumption_when_second_innings_interrupted }}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4 d-flex align-items-center">
                                    <button type="submit" class="btn btn-primary btn-block">Get Par Score</button>
                                </div>
                                <div class="col-md-4 d-flex align-items-center justify-content-center">
                                    <div id="result-container-1"></div>
                                    <div id="error-messages"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- SECOND INNINGS CUT SHORT FORM -->
            <div class="container1">
                <header class="header">
                    <h2>Calculate DLS Score when First Innings is Completed and Second Innings is Cutshort</h2>
                    <p id="lorem-text" class="hidden">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque in voluptas obcaecati, laboriosam quae qui hic, nemo repellendus esse, corporis cupiditate expedita necessitatibus architecto aliquid. Reprehenderit cupiditate quae optio saepe!
                    </p>
                </header>
                <div class="form-wrap">	
                    <div id="form2-container" class="form-content">
                        <div id="error-container-2"></div>
                        <form id="dls-input-form" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="second_innings_cut_short">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_second_innings_cutshort_form.overs_available_to_team_one_when_second_innings_cut_short.label_tag }}
                                        {{ dls_second_innings_cutshort_form.overs_available_to_team_one_when_second_innings_cut_short }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_second_innings_cutshort_form.runs_scored_by_team_one_when_second_innings_cut_short.label_tag }}
                                        {{ dls_second_innings_cutshort_form.runs_scored_by_team_one_when_second_innings_cut_short }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_second_innings_cutshort_form.overs_available_to_team_two_at_start_when_second_innings_cut_short.label_tag }}
                                        {{ dls_second_innings_cutshort_form.overs_available_to_team_two_at_start_when_second_innings_cut_short }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_second_innings_cutshort_form.overs_used_by_team_two_until_cutoff_when_second_innings_cut_short.label_tag }}
                                        {{ dls_second_innings_cutshort_form.overs_used_by_team_two_until_cutoff_when_second_innings_cut_short }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_second_innings_cutshort_form.wickets_lost_by_team_two_when_second_innings_cut_short.label_tag }}
                                        {{ dls_second_innings_cutshort_form.wickets_lost_by_team_two_when_second_innings_cut_short }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 d-flex align-items-center">
                                    <button type="submit" class="btn btn-primary btn-block">Get Par Score</button>
                                </div>
                                <div class="col-md-4 d-flex align-items-center justify-content-center">
                                    <div id="result-container-2"></div>
                                    <div id="error-messages"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- SECOND INNINGS DELAYED FORM -->
            <div class="container1">
                <header class="header">
                    <h2>Calculate DLS Score when First Innings is Completed and Second Innings is Delayed</h2>
                    <p id="lorem-text" class="hidden">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque in voluptas obcaecati, laboriosam quae qui hic, nemo repellendus esse, corporis cupiditate expedita necessitatibus architecto aliquid. Reprehenderit cupiditate quae optio saepe!
                    </p>
                </header>
                <div class="form-wrap">
                    <div id="form2-container" class="form-content">
                        <div id="error-container-3"></div>
                        <form id="dls-input-form" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="second_innings_delayed">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_second_innings_delayed_form.overs_available_to_team_one_when_second_innings_delayed.label_tag }}
                                        {{ dls_second_innings_delayed_form.overs_available_to_team_one_when_second_innings_delayed }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_second_innings_delayed_form.runs_scored_by_team_one_when_second_innings_delayed.label_tag }}
                                        {{ dls_second_innings_delayed_form.runs_scored_by_team_one_when_second_innings_delayed }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_second_innings_delayed_form.overs_available_to_team_two_at_start_when_second_innings_delayed.label_tag }}
                                        {{ dls_second_innings_delayed_form.overs_available_to_team_two_at_start_when_second_innings_delayed }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 d-flex align-items-center">
                                    <button type="submit" class="btn btn-primary btn-block">Get Par Score</button>
                                </div>
                                <div class="col-md-4 d-flex align-items-center justify-content-center">
                                    <div id="result-container-3"></div>
                                    <div id="error-messages"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- FIRST INNINGS CUTSHORT FORM -->
            <div class="container1">
                <header class="header">
                    <h2>Calculate DLS Score when First Innings is Cut-short</h2>
                    <p id="lorem-text" class="hidden">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque in voluptas obcaecati, laboriosam quae qui hic, nemo repellendus esse, corporis cupiditate expedita necessitatibus architecto aliquid. Reprehenderit cupiditate quae optio saepe!
                    </p>
                </header>
                <div class="form-wrap">
                    <div id="form2-container" class="form-content">
                        <div id="error-container-4"></div>
                        <form id="dls-input-form" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="first_innings_cut_short">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_first_innings_cutshort_form.overs_available_to_team_one_when_first_innings_cut_short.label_tag }}
                                        {{ dls_first_innings_cutshort_form.overs_available_to_team_one_when_first_innings_cut_short }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_first_innings_cutshort_form.runs_scored_by_team_one_when_first_innings_cut_short.label_tag }}
                                        {{ dls_first_innings_cutshort_form.runs_scored_by_team_one_when_first_innings_cut_short }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_first_innings_cutshort_form.wickets_lost_by_team_one_when_first_innings_cut_short.label_tag }}
                                        {{ dls_first_innings_cutshort_form.wickets_lost_by_team_one_when_first_innings_cut_short }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_first_innings_cutshort_form.overs_used_by_team_one_until_cutoff_when_first_innings_cut_short.label_tag }}
                                        {{ dls_first_innings_cutshort_form.overs_used_by_team_one_until_cutoff_when_first_innings_cut_short }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ dls_first_innings_cutshort_form.overs_available_to_team_two_at_start_when_first_innings_cut_short.label_tag }}
                                        {{ dls_first_innings_cutshort_form.overs_available_to_team_two_at_start_when_first_innings_cut_short }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 d-flex align-items-center">
                                    <button type="submit" class="btn btn-primary btn-block">Get Par Score</button>
                                </div>
                                <div class="col-md-4 d-flex align-items-center justify-content-center">
                                    <div id="result-container-4"></div>
                                    <div id="error-messages"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- JAVA SCRIPT FILES -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="{% static 'js/ajax.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
